In [3]:
import pandas as pd

In [4]:
fruits = pd.DataFrame({"Apples":[30], "Bananas":[21]})

In [5]:
fruits

   Apples  Bananas
0      30       21

In [11]:
fruit_sales = pd.DataFrame({"Apples":[35, 41], "Bananas":[21, 34]}, index=["2017 Sales", "2018 Sales"])

In [12]:
fruit_sales

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

In [17]:
ingredients = pd.Series(["4 cups", "1 cup", "2 large", "1 can"], index=["Flour", "Milk", "Eggs", "Spam"], name="Dinner")

In [18]:
ingredients

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

In [21]:
reviews = pd.read_csv("winemag-data_first150k.csv")

In [22]:
reviews.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

In [28]:
reviews.shape

(150930, 11)